div{
    background-color: rgba(234, 23, 8, 0.789);
    height: 150px;
    text-align: center;
}
h2{
    color: white;
    margin:15px 10px 5px 10px;
}
input{
    font-size: medium;
    text-indent: 10px;
    height: 35px;  
    width: 50vw;
    border-style: none;
    margin-right: -4px;
}
button{
 color: grey;
 font-size: medium;
 height: 37px;
 width: 18vw;
 border-style: none;
}