input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 45px;
    text-indent: 65px;
    font-size: larger;
    border-style: solid;
    border-radius: 50px;
    border-color: beige;
}

.one {
    text-align: right;
    margin-top: 22px;
    margin-right: 22px;
}

a {
    font-family: Arial, sans-serif;
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}