.search {
    color: grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 44px;
    border: 1px solid beige;
    border-radius: 50px;
    box-shadow: 1px 1px 5px grey;
}

input {
    width: 400px;
    height: 38px;
    font-size: medium;
    border-style: hidden;
    border-radius: 50px;
    outline:none ;
}

.one {
    text-align: right;
    margin-top: 22px;
    margin-right: 22px;
}

a {
    font-family: Arial, sans-serif;
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
@media screen and (max-width:600px){
.search {
    color: grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 44px;
    border: 1px solid beige;
    border-radius: 50px;
    box-shadow: 1px 1px 5px grey;
}
input {
    width: 300px;
    height: 38px;
    font-size: medium;
    border-style: hidden;
    border-radius: 50px;
    outline: none;
}
}
